<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/main.css">
</head>
<body>

<div class="header">
  <h1>COVID Analysis</h1>
    <p><b>Where</b> and <b>what</b> is the risk for you?</p>
</div>

<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="/covid_maps">Out Break Maps</a>
  <a href="/covid_ai">COVID AI</a>
<!--  <a href="#">Link</a>-->
<!--  <a href="#" class="right">Link</a>-->
</div>

<div class="row">
  <div class="side">
    <h2>About us</h2>
    <h5><link>Some Photo:</h5>
    <div style="height:200px; width: 100%; background-color: #aaa">Image</div>
    <p>Some text about something we're doing</p>
    <h3>Another Header</h3>
    <p>some more stuff</p>
<div class="footer">
    <footer>
        <h6 class="Copyright">&copy 2020</h6>
    </footer>
</div>

</body>
</html>
