<!DOCTYPE html>
<html lang="en">
<head>
<title>COVID-19</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/main.css">
</head>
<body>

<div class="header">
  <h1>COVID Analysis</h1>
    <p><b>Where</b> and <b>what</b> is the risk for you?</p>
</div>

<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="/covid_maps">Out Break Maps</a>
  <a href="/covid_ai">COVID AI</a>
<!--  <a href="#">Link</a>-->
<!--  <a href="#" class="right">Link</a>-->
</div>

<div class="row">
  <div class="side">
    <h2 style="padding-top: 2%;">About us</h2>
    <p style="font-size: 20px; padding-bottom: 3%;">
    This site was created by a set of individual data scientists looking to add visibility to the effect 
    and distrobution of the COVID-19 over the globe. Several tools are avaiable to help individuals visualise the 
    effects of the virus and gain insights into the fucture with COVID AI. Please note Things are evolving all the time 
    and although we atempt to keep the site upto date with the most acureate tools and information we do appologies for any discrepencies in reported figures.
    </p>
    <div style="width: 100%; background-color: darkgrey;">
      <img src="../static/download.png" alt="stay at home banner" style= "width: 40%;margin-left: auto;margin-right: auto; display: block;">
    </div>

    <div style="width: 100%; float: left; padding-top: 3%;">
      <h2>COVID Out Break Maps</h2>
      <p style="font-size: 20px;">The COVID Out break maps allow users to see the distrobution of COVID-19 and its effect 
        intems of te following</p>
        <ul style="font-size: 20px;">
          <li>Total Deaths For each country</li>
          <li>Total Cases For each country</li>
          <li>Mortality For each country</li>
        </ul>
      <p style="font-size: 20px;">
      These various fields can be interactively displayed using the layer control button in the top right hand corner of the window.
      </p>
      <h2 style="padding-top: 2%;">COVID AI</h2>
      <p style="font-size: 20px;">COVID AI allows uses to specifiy any date in the past or furture along with a country name. COVID AI will then issue a prediction
        of cumulative deaths and cases for that given county for the entered date.<br><br>
        <b>NOTE:</b> These predictions are based on numerical modeling
        of the situation and although we hope they are informative they only act as our best estimate.
      </p>
    </div>
</body>
</html>
