<!DOCTYPE HTML>
<head>
    <title>COVID Global Mapper</title>
</head>
<link rel="stylesheet" href="../static/map_page.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<html>
    <link rel="stylesheet" href="./../static/table.css">
    <body style="font-family: Arial">
        <header>{% block head %}{% endblock %}</header>
            <div style="width: 100%; height: 100%; position: absolute;">
                <div class="header"
                    style="position: relative; text-align: center; height: 10%; padding-bottom:3%;">
                    <header style="text-align: center; font-family: Arial, Helvetica, sans-serif;width: 100%; color: white; font-size: 20px;">
                        <h1>COVID Data Maps</h1>
                        <a href="/"  id = home><i class="fa fa-home" id="homeicon" style="top:0; right:3%; font-size: 30px; position: fixed; padding-left: 10px; padding-top: 15px;"></i></a>
                        <a href="/covid_maps"  id = home><i class="fa fa-refresh" id="refresh" aria-hidden="true" style="top:0;left:3%; font-size: 30px; position: fixed; padding-left: 10px; padding-top: 15px;"></i></a>
                    </header>
                </div>
                    <div class="Workarea" style="width: 100%;height: 100%; position: relative; float: right; margin: 0;">
                        {% include "coronamap.html" %}
                    </div>

                </div>
            </div>
    </body>
</html>